body
{
	font-size: 20px;
}

a, a:visited, a:hover, a:active
{
	color: black;
	text-decoration: none;
}

select
{
	
	color: #6D7FA2;
	font-weight: bold;
}

select option
{
	font-weight: bold;
}

select, #now_location
{
	font-size: 18px;
}

#main
{
	text-align: center;
	width: 500px;
	margin: 50px auto 0 auto;
}

.forecast
{
	text-align: justify;
	width: 350px;
	height: 40px;
	display: block;
	margin: 6px auto;
	border: 3px #8291B0 solid;
	border-radius: 7px;
	background: #CFF0FD;
}

.forecast:hover
{
	height: 130px;
	border-color: #6D7FA2;
	background: #FCFFFF;
	border-radius: 17px;
	
}

.forecast_text
{
	display: inline-block;
	padding-top: 6px;
}

.forecast, .forecast_text
{
	transition: 0.8s;
	transition-delay: 0.3s;
}

.forecast:hover .forecast_text
{
	padding: 10% 0 10% 0;
}
.forecast_temp
{
	font-weight: bold;
	font-size: 22px;
}

.forecast_info
{
	opacity: 0;
	transition: 0.3s;
	transition-delay: 0s;
}
.forecast:hover .forecast_info
{
	opacity: 1;
	transition: 0.8s;
	transition-delay: 0.6s;
}
.image_weather
{
	float: left;
	display: inline;
	margin: 0 10px 0 10px;
	height: 100%;
}